.IonContent {
  position: fixed;
  top: 10%;
}

.IonTitle {
  margin-top: 1%;
  margin-bottom: 2%;
}

.IonItem {
  margin: 2%;
  border: 1px solid grey;
  border-radius: 10px;
}

.PhoneNumber {
  color: white;
}

.IonButton {
  position: relative;
  top: 2%;
  left: 15%;
  height: 7%;
  width: 70%;
  font-weight: 600;
}
